# ------------------------------------
# 1. 가상 환경 폴더 (필수)
# ------------------------------------
venv/
.venv/
*.pyc

# ------------------------------------
# 2. 민감한 설정 파일 (필수)
# ------------------------------------
# API 키나 비밀번호가 들어갈 수 있는 파일은 모두 제외
.env
.flaskenv

# ------------------------------------
# 3. 개발 도구 및 OS 관련 파일
# ------------------------------------
# Python 관련
__pycache__/
*.swp

# macOS
.DS_Store

# Windows Thumbnail files
Thumbs.db